In [31]:
import requests
import os
import urllib
import csv
import glob
import pandas as pd
import numpy as np

In [32]:
merged_df = pd.read_csv("..\Final_Datasets\MergedTVandMovies.csv", dtype='unicode', encoding='utf8' )    

merged_df["IMDb"] = merged_df["IMDb"].astype(float)
merged_df["Netflix"] = merged_df["Netflix"].astype(float)
merged_df["Hulu"] = merged_df["Hulu"].astype(float)
merged_df["Prime Video"] = merged_df["Prime Video"].astype(float)
merged_df["Disney+"] = merged_df["Disney+"].astype(float)
merged_df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies,shows
0,0,Inception,2010,13+,8.8,87%,1.0,0.0,0.0,0.0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148,Movie,NaN
1,1,The Matrix,1999,18+,8.7,87%,1.0,0.0,0.0,0.0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136,Movie,NaN
2,2,Avengers: Infinity War,2018,13+,8.5,84%,1.0,0.0,0.0,0.0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149,Movie,NaN
3,3,Back to the Future,1985,7+,8.5,96%,1.0,0.0,0.0,0.0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116,Movie,NaN
4,4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1.0,0.0,1.0,0.0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161,Movie,NaN

In [33]:
df1 = merged_df[["IMDb", "Netflix","Hulu", "Prime Video", "Disney+", "movies", "shows" ]]
df1.head()

   IMDb  Netflix  Hulu  Prime Video  Disney+ movies shows
0   8.8      1.0   0.0          0.0      0.0  Movie   NaN
1   8.7      1.0   0.0          0.0      0.0  Movie   NaN
2   8.5      1.0   0.0          0.0      0.0  Movie   NaN
3   8.5      1.0   0.0          0.0      0.0  Movie   NaN
4   8.8      1.0   0.0          1.0      0.0  Movie   NaN

In [34]:
#Overall mean IMDB value
df1_mean= round(df1["IMDb"].mean(),2)
df1_mean

6.16

In [70]:
#overall mean IMDB value for TVshows

df1_tvshows = df1.loc[merged_df['shows'] == 'TV']
df1_mean_tvshows_IMDB = df1_tvshows["IMDb"]
overall_tvshow_avg_IMDB = round(df1_mean_tvshows_IMDB.mean(),2)
overall_tvshow_avg_IMDB

7.11

In [36]:
#overal mean IMDB value for Movies
df1_movies = df1.loc[merged_df['movies'] == 'Movie']
df1_mean_movies_IMDB = df1_movies["IMDb"]
round(df1_mean_movies_IMDB.mean(),2)

5.9

In [46]:
#Drops null IMDB row from TV_shows DF
df_tv_shows_notnull = pd.notnull(df1_tvshows["IMDb"])
df_tv_shows_IMDb_notnull = df1_tvshows[df_tv_shows_notnull]
df_tv_shows_IMDb_notnull

       IMDb  Netflix  Hulu  Prime Video  Disney+ movies shows
16744   9.5      1.0   0.0          0.0      0.0    NaN    TV
16745   8.8      1.0   0.0          0.0      0.0    NaN    TV
16746   8.4      1.0   0.0          0.0      0.0    NaN    TV
16747   9.1      1.0   0.0          0.0      0.0    NaN    TV
16748   8.7      1.0   0.0          0.0      0.0    NaN    TV
...     ...      ...   ...          ...      ...    ...   ...
22342   4.6      0.0   0.0          0.0      1.0    NaN    TV
22343   7.8      0.0   0.0          0.0      1.0    NaN    TV
22344   8.6      0.0   0.0          0.0      1.0    NaN    TV
22345   6.6      0.0   0.0          0.0      1.0    NaN    TV
22346   7.2      0.0   0.0          0.0      1.0    NaN    TV

[4450 rows x 7 columns]

In [58]:
#count of all tv shows on each site


df_netflix = df_tv_shows_IMDb_notnull.loc[df_tv_shows_IMDb_notnull['Netflix'] == 1]
df_hulu = df_tv_shows_IMDb_notnull.loc[df_tv_shows_IMDb_notnull['Hulu'] == 1]
df_prime_video = df_tv_shows_IMDb_notnull.loc[df_tv_shows_IMDb_notnull['Prime Video'] == 1]
df_disney = df_tv_shows_IMDb_notnull.loc[df_tv_shows_IMDb_notnull['Disney+'] == 1]
print(len(df_netflix))
print(len(df_hulu))
print(len(df_prime_video))
print(len(df_disney))

1811
1517
1307
169

In [68]:
#AVG IIMDB TV show rating for netlix
netlix_tvshow_avg_IMDB = round(df_netflix["IMDb"].mean(),2)
netlix_tvshow_avg_IMDB

7.16

In [72]:
#AVG IIMDB TV show rating for Hulu
hulu_tvshow_avg_IMDB = round(df_hulu["IMDb"].mean(),2)
hulu_tvshow_avg_IMDB

7.06

In [65]:
#AVG IIMDB TV show rating for Prime Video
prime_tvshow_avg_IMDB = round(df_prime_video["IMDb"].mean(),2)
prime_tvshow_avg_IMDB

7.18

In [67]:
#AVG IIMDB TV show rating for Disney+
disney_tvshow_avg_IMDB = round(df_disney["IMDb"].mean(),2)
disney_tvshow_avg_IMDB

6.92

In [73]:
tvshows_IMDB_avgs = [overall_tvshow_avg_IMDB, netlix_tvshow_avg_IMDB, hulu_tvshow_avg_IMDB, prime_tvshow_avg_IMDB, disney_tvshow_avg_IMDB ]
tvshows_IMDB_avgs

[7.11, 7.16, 7.06, 7.18, 6.92]

In [39]:
df_shows = df_tv_shows_IMDb_notnull[['Netflix', 'Hulu', 'Prime Video', 'Disney+']]
df_shows

       Netflix  Hulu  Prime Video  Disney+
16744      1.0   0.0          0.0      0.0
16745      1.0   0.0          0.0      0.0
16746      1.0   0.0          0.0      0.0
16747      1.0   0.0          0.0      0.0
16748      1.0   0.0          0.0      0.0
...        ...   ...          ...      ...
22342      0.0   0.0          0.0      1.0
22343      0.0   0.0          0.0      1.0
22344      0.0   0.0          0.0      1.0
22345      0.0   0.0          0.0      1.0
22346      0.0   0.0          0.0      1.0

[4450 rows x 4 columns]

In [40]:
df_shows.apply(pd.value_counts)

     Netflix  Hulu  Prime Video  Disney+
0.0     2639  2933         3143     4281
1.0     1811  1517         1307      169