In [31]:
import requests
import os
import urllib
import csv
import glob
import pandas as pd
import numpy as np

In [32]:
movies_df = pd.read_csv("..\Datasets\MoviesOnStreamingPlatforms_updated.csv", dtype='unicode', encoding='utf8' )    
movies_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161

In [33]:
movies_df['movies']= 'Movie'

In [34]:
movies_df1 =movies_df.drop('Unnamed: 0',axis=1)
movies_df1.head()
movies_cleaned= movies_df1.drop('ID',axis=1)
movies_cleaned.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies
0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148,Movie
1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136,Movie
2,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149,Movie
3,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116,Movie
4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161,Movie

In [35]:
shows_df1 = pd.read_csv("../Datasets/tv_shows.csv", dtype='unicode', encoding='utf8' )  
shows_df1.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [36]:


shows_df2=shows_df1.drop('Unnamed: 0',axis=1)
shows_df2.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [37]:
shows_df2['shows']= 'TV'
shows_df2.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,shows
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,TV
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,TV
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,TV
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,TV
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,TV

In [38]:
movies_cleaned.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies
0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148,Movie
1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136,Movie
2,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149,Movie
3,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116,Movie
4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161,Movie

In [39]:
shows_df2.rename(columns = {'type':'Type'}, inplace = True)

In [40]:
shows_df2.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,shows
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,TV
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,TV
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,TV
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,TV
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,TV

In [41]:
result = pd.concat([movies_cleaned, shows_df2], ignore_index=True, sort=False)
result.head()
result.loc[(result['shows']=='TV')]

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies,shows
16744,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
16745,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
16746,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
16747,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
16748,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22350,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22351,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22352,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22353,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22354,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,TV

In [42]:
len(result)

22355

In [43]:
len(shows_df2)

5611

In [44]:
len(movies_cleaned)

16744