In [2]:
import requests
import os
import urllib
import csv
import glob
import pandas as pd
import numpy as np

In [3]:
movies_df = pd.read_csv("..\Datasets\MoviesOnStreamingPlatforms_updated.csv", dtype='unicode', encoding='utf8' )    
movies_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161

In [4]:
#added a movie column to distinguish it from the tv show records 
movies_df['movies']= 'Movie'

In [62]:
#Need to remove the unused Unnamed column
movies_df1 =movies_df.drop('Unnamed: 0',axis=1)
movies_df1.head()
#Need to remove the unused ID column
movies_cleaned= movies_df1.drop('ID',axis=1)
movies_cleaned.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies
0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148,Movie
1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136,Movie
2,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149,Movie
3,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116,Movie
4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161,Movie

In [5]:
#create shows df
shows_df1 = pd.read_csv("../Datasets/tv_shows.csv", dtype='unicode', encoding='utf8' )  
shows_df1.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [6]:
#Need to remove the unused Unnamed column
shows_df2=shows_df1.drop('Unnamed: 0',axis=1)
shows_df2.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [7]:
#add a column to shows data frame to distinguish it from the movie records. 
shows_df2['shows']= 'TV'
shows_df2.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,shows
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,TV
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,TV
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,TV
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,TV
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,TV

In [8]:
movies_cleaned.head()

NameError: name 'movies_cleaned' is not defined

In [9]:
#Need to ranme the column header of type to match the "Type" column header with movies
shows_df2.rename(columns = {'type':'Type'}, inplace = True)

In [10]:
shows_df2.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,shows
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,TV
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,TV
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,TV
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,TV
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,TV

In [11]:
#Line that merges all the rows from each file into one DF
merged_df = pd.concat([movies_cleaned, shows_df2], ignore_index=True, sort=False)


#verify the TV show records populate as expected
merged_df.loc[(result['shows']=='TV')]

NameError: name 'movies_cleaned' is not defined

In [70]:
#double checks that no records were dropped from either file
len(merged_df)

22355

In [71]:
len(shows_df2)

5611

In [72]:
len(movies_cleaned)

16744