In [44]:
import os
import csv
import pandas as pd
import scipy.stats as st
import numpy as np
import matplotlib.pyplot as plt

In [45]:
df = pd.read_csv("../Final_Datasets/MergedTVandMovies.csv", dtype='unicode', encoding='utf8' )    
df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies,shows
0,0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148,Movie,NaN
1,1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136,Movie,NaN
2,2,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149,Movie,NaN
3,3,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116,Movie,NaN
4,4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161,Movie,NaN

In [46]:
genredf = df[["Genres", "Netflix", "Hulu", "Prime Video", "Disney+"]]
genredf.head()

                             Genres Netflix Hulu Prime Video Disney+
0  Action,Adventure,Sci-Fi,Thriller       1    0           0       0
1                     Action,Sci-Fi       1    0           0       0
2           Action,Adventure,Sci-Fi       1    0           0       0
3           Adventure,Comedy,Sci-Fi       1    0           0       0
4                           Western       1    0           1       0

In [47]:
genredata = genredf.groupby('Genres')
genredata.head()

,Genres,Netflix,Hulu,Prime Video,Disney+
0,"Action,Adventure,Sci-Fi,Thriller",1,0,0,0
1,"Action,Sci-Fi",1,0,0,0
2,"Action,Adventure,Sci-Fi",1,0,0,0
3,"Adventure,Comedy,Sci-Fi",1,0,0,0
4,Western,1,0,1,0
...,...,...,...,...,...
16718,"Documentary,Drama,History",0,0,0,1
16719,"Animation,Adventure,Drama,Family,Musical,Romance",0,0,0,1
16721,"Comedy,Family,Adventure,Fantasy,Sci-Fi",0,0,0,1
16739,"Comedy,Family,Fantasy,Horror",0,0,0,1
16743,"Documentary,Short,Family",0,0,0,1

In [48]:
group = genredf.groupby('Genres').nunique()
group

,Genres,Netflix,Hulu,Prime Video,Disney+
Genres,,,,,
Action,1,2,2,2,1
"Action,Adventure",1,2,2,2,1
"Action,Adventure,Biography",1,1,1,1,1
"Action,Adventure,Biography,Drama,History",1,2,1,2,1
"Action,Adventure,Biography,Drama,History,Romance,War",1,1,1,1,1
...,...,...,...,...,...
Western,1,2,2,2,1
"Western,Comedy",1,1,1,1,1
"Western,Horror",1,1,1,1,1
"Western,Mystery",1,1,1,1,1
"Western,War",1,1,1,1,1

In [49]:
group.isin(['Action'])

,Genres,Netflix,Hulu,Prime Video,Disney+
Genres,,,,,
Action,False,False,False,False,False
"Action,Adventure",False,False,False,False,False
"Action,Adventure,Biography",False,False,False,False,False
"Action,Adventure,Biography,Drama,History",False,False,False,False,False
"Action,Adventure,Biography,Drama,History,Romance,War",False,False,False,False,False
...,...,...,...,...,...
Western,False,False,False,False,False
"Western,Comedy",False,False,False,False,False
"Western,Horror",False,False,False,False,False
"Western,Mystery",False,False,False,False,False
"Western,War",False,False,False,False,False

In [53]:
genredf.explode('Genres')

                                 Genres Netflix Hulu Prime Video Disney+
0      Action,Adventure,Sci-Fi,Thriller       1    0           0       0
1                         Action,Sci-Fi       1    0           0       0
2               Action,Adventure,Sci-Fi       1    0           0       0
3               Adventure,Comedy,Sci-Fi       1    0           0       0
4                               Western       1    0           1       0
...                                 ...     ...  ...         ...     ...
22350                               NaN       0    0           0       1
22351                               NaN       0    0           0       1
22352                               NaN       0    0           0       1
22353                               NaN       0    0           0       1
22354                               NaN       0    0           0       1

[22355 rows x 5 columns]