In [72]:
import os
import csv
import pandas as pd
import scipy.stats as st
import numpy as np
import matplotlib.pyplot as plt

In [73]:
df = pd.read_csv("../Final_Datasets/MergedTVandMovies.csv")  
df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies,shows
0,0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,Movie,NaN
1,1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,Movie,NaN
2,2,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,Movie,NaN
3,3,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,Movie,NaN
4,4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,Movie,NaN

In [74]:
genredf = df[["Genres", "Netflix", "Hulu", "Prime Video", "Disney+"]]
genredf.head()

                             Genres  Netflix  Hulu  Prime Video  Disney+
0  Action,Adventure,Sci-Fi,Thriller        1     0            0        0
1                     Action,Sci-Fi        1     0            0        0
2           Action,Adventure,Sci-Fi        1     0            0        0
3           Adventure,Comedy,Sci-Fi        1     0            0        0
4                           Western        1     0            1        0

In [70]:
genredata = genredf.groupby('Genres')
genredata.head()

,Genres,Netflix,Hulu,Prime Video,Disney+
0,"Action,Adventure,Sci-Fi,Thriller",1,0,0,0
1,"Action,Sci-Fi",1,0,0,0
2,"Action,Adventure,Sci-Fi",1,0,0,0
3,"Adventure,Comedy,Sci-Fi",1,0,0,0
4,Western,1,0,1,0
...,...,...,...,...,...
16718,"Documentary,Drama,History",0,0,0,1
16719,"Animation,Adventure,Drama,Family,Musical,Romance",0,0,0,1
16721,"Comedy,Family,Adventure,Fantasy,Sci-Fi",0,0,0,1
16739,"Comedy,Family,Fantasy,Horror",0,0,0,1
16743,"Documentary,Short,Family",0,0,0,1

In [80]:
df['Genres'] = df['Genres'].str.split(',')
df = df.explode('Genres')
df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies,shows
0,0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,Action,"United States,United Kingdom","English,Japanese,French",148.0,Movie,NaN
0,0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,Adventure,"United States,United Kingdom","English,Japanese,French",148.0,Movie,NaN
0,0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,Sci-Fi,"United States,United Kingdom","English,Japanese,French",148.0,Movie,NaN
0,0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,Thriller,"United States,United Kingdom","English,Japanese,French",148.0,Movie,NaN
1,1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski",Action,United States,English,136.0,Movie,NaN

In [81]:
genredf = df[["Genres", "Netflix", "Hulu", "Prime Video", "Disney+"]]
genredf.head()

      Genres  Netflix  Hulu  Prime Video  Disney+
0     Action        1     0            0        0
0  Adventure        1     0            0        0
0     Sci-Fi        1     0            0        0
0   Thriller        1     0            0        0
1     Action        1     0            0        0

In [84]:
gengroup = genredf.groupby('Genres')
gengroup.head()

          Genres  Netflix  Hulu  Prime Video  Disney+
0         Action        1     0            0        0
0      Adventure        1     0            0        0
0         Sci-Fi        1     0            0        0
0       Thriller        1     0            0        0
1         Action        1     0            0        0
...          ...      ...   ...          ...      ...
4512   Film-Noir        0     0            1        0
4558   Film-Noir        0     0            1        0
4978   Game-Show        0     0            1        0
8491   Game-Show        0     0            1        0
10901  Game-Show        0     0            1        0

[140 rows x 5 columns]

In [86]:
gencount = gengroup.count()
gencount.head()

           Netflix  Hulu  Prime Video  Disney+
Genres
Action        2683  2683         2683     2683
Adventure     1778  1778         1778     1778
Animation      711   711          711      711
Biography      821   821          821      821
Comedy        4637  4637         4637     4637