In [105]:
#Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [106]:
#Import data
df = pd.read_csv("../Final_Datasets/MergedTVandMovies.csv", dtype='unicode', encoding='utf8')
df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies,shows
0,0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148,Movie,NaN
1,1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136,Movie,NaN
2,2,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149,Movie,NaN
3,3,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116,Movie,NaN
4,4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161,Movie,NaN

In [107]:
#Float Values
df["Year"] = df["Year"].astype(float)
df["IMDb"] = df["IMDb"].astype(float)
df["Netflix"] = df["Netflix"].astype(float)
df["Hulu"] = df["Hulu"].astype(float)
df["Prime Video"] = df["Prime Video"].astype(float)
df["Disney+"] = df["Disney+"].astype(float)
df

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies,shows
0,0,Inception,2010.0,13+,8.8,87%,1.0,0.0,0.0,0.0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148,Movie,NaN
1,1,The Matrix,1999.0,18+,8.7,87%,1.0,0.0,0.0,0.0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136,Movie,NaN
2,2,Avengers: Infinity War,2018.0,13+,8.5,84%,1.0,0.0,0.0,0.0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149,Movie,NaN
3,3,Back to the Future,1985.0,7+,8.5,96%,1.0,0.0,0.0,0.0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116,Movie,NaN
4,4,"The Good, the Bad and the Ugly",1966.0,18+,8.8,97%,1.0,0.0,1.0,0.0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161,Movie,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22350,22350,Tut's Treasures: Hidden Secrets,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22351,22351,Paradise Islands,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22352,22352,Wild Russia,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22353,22353,Love & Vets,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22354,22354,United States of Animals,2016.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV

In [108]:
df = df[["Title", "Year", "Netflix", "Hulu", "Prime Video", "Disney+"]]
df.describe()

               Year       Netflix          Hulu   Prime Video       Disney+
count  22355.000000  22355.000000  22355.000000  22355.000000  22355.000000
mean    2005.023753      0.245627      0.118855      0.648535      0.033281
std       19.041756      0.430468      0.323625      0.477439      0.179374
min     1901.000000      0.000000      0.000000      0.000000      0.000000
25%     2004.000000      0.000000      0.000000      0.000000      0.000000
50%     2013.000000      0.000000      0.000000      1.000000      0.000000
75%     2016.000000      0.000000      0.000000      1.000000      0.000000
max     2020.000000      1.000000      1.000000      1.000000      1.000000

In [109]:
#Look at new shows 2018-2020 only
shows = df[(df["Year"] >= 2018)]
shows

,Title,Year,Netflix,Hulu,Prime Video,Disney+
2,Avengers: Infinity War,2018.0,1.0,0.0,0.0,0.0
5,Spider-Man: Into the Spider-Verse,2018.0,1.0,0.0,0.0,0.0
28,The Irishman,2019.0,1.0,0.0,0.0,0.0
30,Marriage Story,2019.0,1.0,0.0,0.0,0.0
33,Incredibles 2,2018.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...
22344,Prairie Dog Manor,2019.0,0.0,0.0,0.0,1.0
22346,Bug Juice: My Adventures at Camp,2018.0,0.0,0.0,0.0,1.0
22348,Lost Treasures of the Maya,2019.0,0.0,0.0,0.0,1.0
22350,Tut's Treasures: Hidden Secrets,2018.0,0.0,0.0,0.0,1.0
22352,Wild Russia,2018.0,0.0,0.0,0.0,1.0

In [111]:
#Count of New Releases per Streaming Service
netflix_shows = shows.loc[shows["Netflix"] == 1]
hulu_shows = shows.loc[shows["Hulu"] == 1]
prime_shows = shows.loc[shows["Prime Video"] == 1]
disney_shows = shows.loc[shows["Disney+"] == 1]
print(len(netflix_shows))
print(len(hulu_shows))
print(len(prime_shows))
print(len(disney_shows))

1707
557
1037
91

In [117]:
#Get Year and Service
netflix_shows = netflix_shows[['Year', 'Netflix']]
netflix_shows['Netflix'] = netflix_shows['Netflix'].replace([1], 'netflix')
netflix_shows.columns = ['Year', 'Source']


hulu_shows = hulu_shows[['Year', 'Hulu']]
hulu_shows['Hulu'] = hulu_shows['Hulu'].replace([1], 'hulu')
hulu_shows.columns = ['Year', 'Source']

prime_shows = prime_shows[['Year', 'Prime Video']]
prime_shows['Prime Video'] = prime_shows['Prime Video'].replace([1], 'prime')
prime_shows.columns = ['Year', 'Source']


disney_shows = disney_shows[['Year', 'Disney+']]
disney_shows ['Disney+'] = disney_shows ['Disney+'].replace([1], 'disney')
disney_shows.columns = ['Year', 'Source']
print(netflix_shows)
print(hulu_shows)
print(prime_shows)
print(disney_shows)

KeyError: "['Netflix'] not in index"

In [ ]:
#Create new dataframe
new_shows_by_service = pd.DataFrame({"Netflix": netflix_shows,
                                        "Hulu": hulu_shows,
                                        "Prime Video": prime_shows,
                                        "Disney+": disney_shows})
new_shows_by_service

In [ ]:
#Chart Newest Shows by Streaming Service
shows_chart = shows_count.plot(kind="bar", title="Newest Releases by Streaming Service")
shows_chart.set_xlabel("Streaming Service")
shows_chart.set_ylabel("Count of New Releases")
plt.show()
plt.tight_layout()